<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\Users\MSI\Desktop\conception_project\software\parking\parking.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\13.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="parking.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="parking"/>
<stringAttribute key="spdPath" value="C:\Users\MSI\Desktop\conception_project\nios_tb.spd"/>
</launchConfiguration>
